<div *ngIf="vehicle">

  <h2>{{vehicle.brand}} {{vehicle.name}} {{vehicle.trim}}</h2>

  <div><span>ID: </span>{{vehicle.id}}</div>

  <div>
    <label>Name:
      <input type="text" [(ngModel)]="vehicle.name" placeholder="Name" required>
    </label>
  </div>

  <div>
    <label>Brand:
      <input type="text" [(ngModel)]="vehicle.brand" placeholder="Brand">
    </label>
  </div>

  <div>
    <label>Year:
      <input type="number" [(ngModel)]="vehicle.year" placeholder="Year">
    </label>
  </div>

  <div>
    <label>Storage Time:
      <input type="text" [(ngModel)]="vehicle.timeIn" placeholder="Storage Time">
    </label>
  </div>

  <div>
    <label>MSRP:
      <input type="number" [(ngModel)]="vehicle.msrp" placeholder="MSRP">
    </label>
  </div>

  <div>
    <label>Discount Price:
      <input type="number" [(ngModel)]="vehicle.discount" placeholder="Discount Price">
    </label>
  </div>

  <div>
    <label>Color:
      <input type="text" [(ngModel)]="vehicle.color" placeholder="Color">
    </label>
  </div>

  <div>
    <label>Trim:
      <input type="text" [(ngModel)]="vehicle.trim" placeholder="Trim">
    </label>
  </div>

  <div>
    <label>Ordered:
      <input type="checkbox" [(ngModel)]="vehicle.ordered" placeholder="Ordered">
    </label>
  </div>

  <div *ngIf="vehicle.ordered">
    <h4>Buyer Information:</h4>
    <div>
      <ul>
        <li>{{vehicle.buyerName}}</li>
        <li>{{vehicle.buyerGender}}</li>
        <li>{{vehicle.buyerPhone}}</li>
        <li>{{vehicle.buyerEmail}}</li>
      </ul>
    </div>

  </div>



  <div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </div>

</div>
