<h2>Vehicles List</h2>

<ul class="vehicles">
  <li *ngFor="let vehicle of vehicles">
    <a routerLink="/detail/{{vehicle.id}}">
      <span class="badge">{{vehicle.id}}</span>{{vehicle.brand}} {{vehicle.name}}
    </a>
    <button class="delete" title="delete vehicle" (click)="delete(vehicle)">x</button>
  </li>
</ul>

<hr />
<h3>Add New Vehicles</h3>
<div>
  <div>
    <label>Brand:
      <input #vehicleBrand type="text" placeholder="***required***"/>
    </label>
  </div>

  <div>
    <label>Name:
      <input #vehicleName type="text" placeholder="***required***"/>
    </label>
  </div>
  <button (click)="add(vehicleName.value, vehicleBrand.value); vehicleName.value=''; vehicleBrand.value=''">
    Add
  </button>
</div>
