<h3>Vehicles on sale!!!</h3>

<div class="grid grid-pad">
  <a *ngFor="let vehicle of vehicles" class="col-1-5" routerLink="/detail/{{vehicle.id}}">
    <div class="module vehicle">
      <h4>{{vehicle.brand}}</h4>
      <h5>{{vehicle.name}}</h5>
      <h6>Only ${{vehicle.discount}}</h6>
    </div>
  </a>
</div>
